<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- Bootstrap CSS -->
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
	integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
	crossorigin="anonymous">
<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
<title>Registro</title>
</head>

<body>
	<section>
		<div class="box col-6">
			<div class="form">
				<div class="header mb-5">
					<h2>Registro De Usuario</h2>
				</div>
				<form th:action="@{/addusuario}" th:object="${usuario}"
					method="post">
					<div class="row">
											
						<!--  DNI Usuario -->
						<div class="form-group col-6">
							<input type="number" th:field="*{dni}" class="form-control"
								id="dni" placeholder="Numero de Cedula"
								required="required"> <span
								th:if="${#fields.hasErrors('dni')}"
								th:errors="*{dni}" class="text-danger"></span>
						</div>
						
						<!--  Nombre Usuario -->
						<div class="form-group col-6">
							<input type="text" th:field="*{nombre}" class="form-control"
								id="nombre" placeholder="Nombre Del Usuario" required="required"> <span
								th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}"
								class="text-danger"></span>
						</div>

						<!-- Apellido Usuario -->
						<div class="form-group col-6 mt-4">
							<input type="text" th:field="*{apellido}" class="form-control"
								id="apellido" placeholder="Apellido Del Usuario" required="required">
							<span th:if="${#fields.hasErrors('apellido')}"
								th:errors="*{apellido}" class="text-danger"></span>
						</div>

						<!-- "Usuario" del Usuario -->
						<div class="form-group col-6 mt-4">
							<input type="text" th:field="*{nombreUsuario}" class="form-control"
								id="nombreUsuario" placeholder="Usuario del Sistema" required="required">
							<span th:if="${#fields.hasErrors('nombreUsuario')}"
								th:errors="*{nombreUsuario}" class="text-danger"></span>
						</div>

						<!-- Contrasena Usuario -->
						<div class="form-group col-6 mt-4">
							<input type="password" th:field="*{contrasena}"
								class="form-control" id="contrasena" placeholder="Contraseña"
								required="required"> <span
								th:if="${#fields.hasErrors('contrasena')}"
								th:errors="*{contrasena}" class="text-danger"></span>
						</div>


						<!-- Telefono Usuario -->
						<div class="form-group col-6 mt-4">
							<input type="number" th:field="*{telefono}" class="form-control"
								id="telefono" placeholder="telefono de residencia"
								required="required"> <span
								th:if="${#fields.hasErrors('telefono')}"
								th:errors="*{telefono}" class="text-danger"></span>
						</div>
						
						<!-- Direccion Usuario -->
						<div class="form-group col-12 mt-4">
							<input type="text" th:field="*{direccion}" class="form-control"
								id="direccion" placeholder="Direccion de recidencia"
								required="required"> <span
								th:if="${#fields.hasErrors('direccion')}" th:errors="*{direccion}"
								class="text-danger"></span>
						</div>
					</div>
					<div class="inputBx col-12 mt-3">
						<input type="submit" class="btn bg-dark text-white"
							value="Registrar">
					</div>
				</form>
			</div>
		</div>
	</section>

	<!-- Scripts de JS de bootstrap  -->
	<!-- (Orden) jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
		integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
		crossorigin="anonymous"></script>
	<script
		src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
		integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
		crossorigin="anonymous"></script>
	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
		integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
		crossorigin="anonymous"></script>
</body>

</html>
