<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text" href="css/style.css">
    <title>Login</title>
</head>

<body>
    <section>
        <div class="box">
            <div class="form">
                <h2>Login</h2>
                <form action="">
                    <div class="inputBx">
                        <input type="text" placeholder="Usuario">
                        <img src="Imagenes/icon/user.png" alt="">
                    </div>
                    <div class="inputBx">
                        <input type="password" placeholder="Contraseña">
                        <img src="Imagenes/icon/key.png" alt="">
                    </div>
                    <div class="inputBx">
                        <input type="submit" value="Login">
                    </div>
                </form>
            </div>
        </div>
    </section>
</body>

</html>